%form
  %fieldset
    %legend Options
    .row
      .span4
        %label Name
        %input#hostname{:type => "text", :placeholder => "hostname"}
      .span4
        %label Tags
        %input#tags{:type => "text", :placeholder => "tags"}
    %legend Trigger