%table.table
  %tr
    %th.span2 Host
    %th Tags
  - hostmap.each do |hostname, tags|
    %tr
      %td.span2
        %a{:href => "/hosts/edit?hostname=#{hostname}"}
          %span.badge=hostname
      %td
        - tags.each do |tag|
          %a{:href => "/tags/edit?tagname=#{tag}"}
            %span.badge.badge-info=tag