!!!
%head
  %meta{:charset => "utf-8"}
  %title Hammy :: #{title}
  -# Le styles
  %link{:href => "/css/bootstrap.min.css", :rel => "stylesheet"}
  %link{:href => "/css/hammy.css", :rel => "stylesheet"}
  %link{:href => "/css/bootstrap-responsive.min.css", :rel => "stylesheet"}
%body
  -# Bar
  .navbar.navbar-fixed-top
    .navbar-inner
      .container
        %a.brand{:href => "/"} Hammy
        .nav-collapse.collapse
          %ul.nav
            %li.dropdown{:class => (activetab == :view) && "active"}
              %a.dropdown-toggle{:href => '/', :'data-toggle' => "dropdown"}
                View
                %b.caret
              %ul.dropdown-menu
                %li
                  %a{:href => '/charts'} Charts
            %li.dropdown{:class => (activetab == :config) && "active"}
              %a.dropdown-toggle{:href => '#', :'data-toggle' => "dropdown"}
                Config
                %b.caret
              %ul.dropdown-menu
                %li
                  %a{:href => '/tags'} Tags
                %li
                  %a{:href => '/hosts'} Hosts
                %li
                  %a{:href => '/generators'} Generators
                %li.divider
                %li
                  %a{:href => '/tags/create'} Create tag
                %li
                  %a{:href => '/hosts/create'} Create host
                %li
                  %a{:href => '/generators/create'} Create generator

  -# Le javascript
  %script{:src => "/js/jquery-1.9.1.min.js", :type => "text/javascript", :charset => "utf-8"}
  %script{:src => "/js/bootstrap.min.js", :type => "text/javascript", :charset => "utf-8"}

  -# Content
  .container
    =yield
