%legend=hostname
.row#loading
  .span12#dataplace
    .progress.progress-striped.active
      .bar{:style => 'width:100%;'}

%script{:src => "/js/hammy.js"}
%script= p(                                                                                        |
  "$(function() {"                                                                                 |
  "  $.ajax({"                                                                                     |
  "    type: 'GET',"                                                                               |
  "    url:  '#{dataurl}',"                                                                        |
  "    data: {'object': '#{hostname}'},"                                                           |
  "    error: function(jqXHR, textStatus, errorThrown) {"                                          |
  "      $('#dataplace').html("                                                                    |
  "        '<div class=\\'alert alert-error\\'>Error:' + errorThrown + '</div>'"                   |
  "      );"                                                                                       |
  "    },"                                                                                         |
  "    success: function(data, textStatus, jqXHR) {"                                               |
  "      var table = JSON.parse(data);"                                                            |
  "      var tableHtml = '<table class=\\'table\\'>' +"                                            |
  "        '<tr><th>Key</th><th>Value</th><th>Last updated</th></tr>';"                            |
  "      for (var key in table) {"                                                                 |
  "        var elem = table[key];"                                                                 |
  "        var ts = tsToString(elem.LastUpdate);"                                                  |
  "        tableHtml += '<tr><td>' + key + '</td><td>' +"                                          |
  "          elem.Value + '</td><td>' + ts + '</td></tr>';"                                        |
  "      }"                                                                                        |
  "      tableHtml += '</table>';"                                                                 |
  "      $('#dataplace').html(tableHtml);"                                                         |
  "    }"                                                                                          |
  "  });"                                                                                          |
  "});")                                                                                           |
