%legend=hostname
.row#loading
  .span12#dataplace
    .progress.progress-striped.active
      .bar{:style => 'width:100%;'}

%script{:src => "/js/hammy.js"}
%script= p(                                                                                        |
  "$(function() {"                                                                                 |
  "  $.ajax({"                                                                                     |
  "    type: 'GET',"                                                                               |
  "    url:  '#{dataurl}',"                                                                        |
  "    data: {'host': '#{hostname}'},"                                                             |
  "    dataType: 'json',"                                                                          |
  "    error: function(jqXHR, textStatus, errorThrown) {"                                          |
  "      $('#dataplace').html("                                                                    |
  "        '<div class=\\'alert alert-error\\'>Error:' + errorThrown + '</div>'"                   |
  "      );"                                                                                       |
  "    },"                                                                                         |
  "    success: function(data, textStatus, jqXHR) {"                                               |
  "      draw_state_table(data);"                                                                  |
  "    }"                                                                                          |
  "  });"                                                                                          |
  "});")                                                                                           |
