%table.table
  %tr
    %th.span2 Tag
    %th Hosts
  - tagmap.each do |tagname, hosts|
    %tr
      %td.span2
        %a{:href => "/tags/edit?tagname=#{tagname}"}
          %span.badge.badge-info=tagname
      %td
        - hosts.each do |host|
          %a{:href => "/hosts/edit?hostname=#{host}"}
            %span.badge=host