%legend=hostname
%pre
  %code
    = preserve do
      :escaped
        #{code}

%link{:rel => "stylesheet", :href => "/css/xcode.css"}
%script{:src => "/js/highlight.pack.js"}
%script
  hljs.initHighlightingOnLoad();
